@charset "utf-8";

html{
	height: 100vh;
	width: 100vw;
	
}
body{
	font-size: 12px;
	font-family: 'Open Sans', arial, tahoma, sans-serif;
	background-color:snow;
}
hr{
	border: 2px solid gray;
}
h3{
	padding-left: 5%;
}
.container{
	width: 100%;
	height:auto;
	display: flex;
	flex-direction: column;
}
.my_cart_items{
	width:80%;
	order: 0;
}
.carousel_set{
	padding: 2%;
	margin: 2%;
	margin-top: 15%;
	width: 20%;
}
.my_cart_total{
	display: flex;	
}
.sub_container{
	display:flex;
}
.contact_us{
	width:60%;
	padding-left: 5%;
}
.cart_checkout{
	margin-left: 10px;
	width:40%;
}
.prod_img{
	width:40%;
	height:auto;
}
#applyCode{
	float: left;
	width:60%;
}
#apply{
	margin: 0px;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul{
	margin: 0;
    padding: 0;
	overflow: hidden;
	list-style-type: none;
}
li a:hover{
	color: blue;
}
.remove:hover{
	color: red;
}
